<div class="w-full px-0 mb-8 md:p-4 lg:w-1/3 md:w-1/2 card">
  {% function_rc item_url = 'link_to', item: item %}

  <a class="relative block h-64 overflow-hidden rounded shadow-sm" href="{{ item_url }}">
    {% assign dummy_url = 'https://dummyimage.com/800x4:3/eee/000&text=' | append: item.name %}
    {% assign cover_url = item.photos | last | dig: 'url' | default: dummy_url %}
    <img alt="{{ item.name }}" class="block object-cover object-center w-full h-full" src="{{ cover_url }}">
  </a>

  <div class="mt-4">
    <h2 class="text-lg font-medium text-gray-900 ">
      <a href="{{ item_url }}">{{ item.name }}</a>
    </h2>

    <h3 class="mb-1 text-xs ">
      {% if item.category %}
        <div>
          {{ 'categories.' | append: item.category | t }}
        </div>
      {% endif %}
      {{ item.tags | join: ", " }}
    </h3>

    <div class="flex justify-between">
      <p class="mt-1">
        {% if item.orders[0].status == 'sold' %}
        <span class="line-through">{{ item.price | pricify_cents }}</span>
        <span class="font-bold">&mdash; Sold</span>
        {% else %}
        <span class="text-lg">{{ item.price | pricify_cents }}</span>
        {% endif %}
      </p>

      <h3 class="mb-1 text-xs ">
        {% include 'theme/simple/business_card', user: item.owner.email %}
      </h3>
    </div>
  </div>
</div>
