<div>
  {% function item_url = 'link_to', path: '/items/', item: item %}

  <a class="relative block h-64 overflow-hidden rounded shadow-sm" href="{{ item_url }}">
    {% function cover_url = 'theme/simple/items/cover_url', item: item %}
    <img alt="{{ item.name }}" class="block object-cover object-center w-full h-full" src="{{ cover_url }}">
  </a>

  <div class="mt-4">
    {% if item_url %}
    <h2 class="text-lg font-medium text-gray-900 ">
      <a href="{{ item_url }}">{{ item.name }}</a>
    </h2>
    {% endif %}

    <!-- TODO: If empty, dont show. -->
    <h3 class="mb-1 text-xs">
      {% if item.category %}
        <a href="{% render 'link_to', category: item.category %}" class="block">
          {% print 'categories.' | append: item.category | t %}
        </a>
      {% endif %}
    </h3>

    <div class="flex justify-between">
      <p class="mt-1">
        <span class="text-lg">{{ item.price | pricify_cents }}</span>
      </p>

      <h3 class="mb-1 text-xs">
        {% render 'theme/simple/business_card', user: item.owner, current_profile: current_profile %}
      </h3>
    </div>
  </div>
</div>
