{% liquid
  if item.id
    assign path = 'update'
  else
    assign path = 'create'
  endif
  assign uuid = '' | uuid
  assign item_uuid = item.properties.uuid | default: uuid
%}

<!-- {{ item.errors }} -->

<section class="text-gray-700 body-font">
  <div class="container flex flex-wrap items-center px-5 mx-auto">
    <form action="/items/{{ path }}" method="post" class="w-1/2 p-8 bg-gray-200 rounded-lg">
      {% include 'authenticity_token' %}

      {% if item.id %}
      <input type="hidden" name="item[id]" value="{{ item.id }}" />
      {% endif %}
      <input type="hidden" name="item[properties][uuid]" value="{{ item_uuid }}" />

      <div class="my-3">
        <label class="block" for="name">Name</label>
        <input class="w-2/3 form-input" type="text" name="item[properties][name]" value="{{ item.properties.name }}" />
        {% if item.errors.properties.name %}
        <span class="text-red-800">{{ item.errors.properties.name }}</span>
        {% endif %}
      </div>

      <div class="mt-3">
        <label class="block" for="type">Type</label>
        <input class="w-2/3 form-input" type="text" name="item[properties][type]" value="{{ item.properties.type }}" />
        {% if item.errors.properties.type %}
        <span class="text-red-800">{{ item.errors.properties.type }}</span>
        {% endif %}
      </div>

      <div class="mt-3">
        <label class="block" for="description">Description</label>
        <textarea class="w-full form-input" type="text" name="item[properties][description]"
          rows="3">{{ item.properties.description }}</textarea>

        {% if item.errors.properties.description %}
        <span class="text-red-800">{{ item.errors.properties.description }}</span>
        {% endif %}
      </div>

      <div class="mt-3">
        <label class="block" for="tags">Tags</label>
        <input class="w-full form-input" type="text" name="item[properties][tags]"
          value="{{ item.properties.tags | join: ',' }}" />
        {% if item.errors.properties.tags %}
        <span class="text-red-800">{{ item.errors.properties.tags }}</span>
        {% endif %}
      </div>

      <div class="mt-3">
        <label class="block" for="price">Price</label>
        <input class="w-32 form-input" type="number" name="item[properties][price]"
          value="{{ item.properties.price | default: 10 }}" />
        {% if item.errors.properties.price %}
        <span class="text-red-800">{{ item.errors.properties.price }}</span>
        {% endif %}
      </div>

      <div class="mt-3">
        <label class="block" for="cover_photo">Icon</label>
        <select class="w-64 form-select" name="item[properties][cover_photo]">
          {% for icon in context.exports.lib.icons %}
          <option value="{{ icon }}" {% if item.properties.cover_photo == icon %}selected{% endif %}>
            {{ icon }}
          </option>
          {% endfor %}
        </select>

        {% if item.errors.properties.cover_photo %}
        <span class="text-red-800">{{ item.errors.properties.cover_photo }}</span>
        {% endif %}
      </div>

      <div class="mt-3">
        <label class="block">Photos</label>
        {% include 'theme/simple/items/uppy_area' %}
      </div>

      <button class="mt-8 button" value="{{ path }}">Submit</button>
    </form>

  </div>
</section>
{% include 'theme/simple/items/uppy_form', item_uuid: item_uuid %}
