{% liquid
  if item.id
    assign path = 'update'
  else
    assign path = 'create'
  endif
  assign uuid = '' | uuid
  assign item_uuid = item.uuid | default: uuid
%}

<section class="text-gray-700 body-font">
  <div class="container flex flex-wrap items-center mx-auto">
    <form action="/items/{{ path }}" method="post" class="w-1/2 p-8 bg-gray-200 rounded-lg">
      {% include 'authenticity_token' %}

      {% if item.id %}
        <input type="hidden" name="item[id]" value="{{ item.id }}" />
      {% endif %}
      <input type="hidden" name="item[uuid]" value="{{ item_uuid }}" />

      <div class="my-3">
        <label class="block" for="name">Name</label>
        <input class="w-2/3 form-input" type="text" id="name" name="item[name]" value="{{ item.name }}" autofocus />
        {% if item.errors.name %}
        <span class="text-red-800">{{ item.errors.name }}</span>
        {% endif %}
      </div>

      <div class="mt-3">
        <label class="block" for="type">Type</label>
        <input class="w-2/3 form-input" type="text" id="type" name="item[type]" value="{{ item.type }}" />
        {% if item.errors.type %}
        <span class="text-red-800">{{ item.errors.type }}</span>
        {% endif %}
      </div>

      <div class="mt-3">
        <label class="block" for="description">Description</label>
        <textarea class="w-full form-input" type="text" id="description" name="item[description]"
          rows="3">{{ item.description }}</textarea>

        {% if item.errors.description %}
        <span class="text-red-800">{{ item.errors.description }}</span>
        {% endif %}
      </div>

      <div class="mt-3">
        <label class="block" for="tags">Tags</label>
        <input class="w-full form-input" type="text" id="tags" name="item[tags]"
          value="{{ item.tags | join: ',' }}" />
        {% if item.errors.tags %}
        <span class="text-red-800">{{ item.errors.tags }}</span>
        {% endif %}
      </div>

      <div class="mt-3">
        <label class="block" for="price">Price</label>
        <input class="w-32 form-input" type="number" id="price" name="item[price]"
          value="{{ item.price | default: 10 }}" />
        {% if item.errors.price %}
        <span class="text-red-800">{{ item.errors.price }}</span>
        {% endif %}
      </div>

          {{ item }}
      <div class="mt-3">
        <label class="block" for="cover_photo">Icon</label>
        <select class="w-64 form-select" id="price" name="item[cover_photo]">
          {% for icon in icons %}
          <option value="{{ icon }}" {% if item.cover_photo == icon %}selected{% endif %}>
            {{ icon }}
          </option>
          {% endfor %}
        </select>

        {% if item.errors.cover_photo %}
        <span class="text-red-800">{{ item.errors.cover_photo }}</span>
        {% endif %}
      </div>

      <div class="mt-3">
        <label class="block">Photos</label>
        {% include 'theme/simple/items/uppy_area' %}
      </div>

      <button class="mt-8 button" value="{{ path }}">Submit</button>
    </form>

  </div>
</section>

{% include 'theme/simple/items/uppy_form', item_uuid: item_uuid %}
