{% liquid
  assign product_rating = 0
  assign product_point = 0
  if item.reviews.size 
    for review in item.reviews
      assign product_point = product_point | plus:review.rating
    endfor

    assign product_rating = product_point | divided_by:item.reviews.size
  endif

  assign uuid = '' | uuid
  assign item_uuid = item.uuid | default: uuid
  function_rc item_url = 'link_to', item: item  
%}

{% content_for item_metatags %}
  {% include 'theme/simple/items/metatags', item: item %}
{% endcontent_for %}

<div class="container">
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/2">
      {% if item.photos.size > 1 %}
        <div class="relative glider-contain">
          <div class="overflow-x-hidden glider" glider>
            {% for p in item.photos %}
              <div><img alt="{{ item.name }}" src="{{ p.photo.url }}" class="object-cover w-full" loading="lazy"></div>
            {% endfor %}
          </div>

          <button role="button" aria-label="Previous" class="glider-prev">&nbsp;</button>
          <button role="button" aria-label="Next" class="glider-next">&nbsp;</button>

          <div role="tablist" class="py-4 glider-dots"></div>
        </div>
      {% else %}
        {%- assign dummy_url = 'https://dummyimage.com/800x4:3/eee/000&text=' | append: item.name %}
        {%- assign cover_url = item.photos.last.photo.url | default: dummy_url %}
        <img alt="{{ item.name }}" class="object-center w-full h-full rounded" src="{{ cover_url }}">
      {% endif %}
    </div>

    <div class="w-full mt-6 lg:w-1/2 lg:pl-10 lg:py-6 lg:mt-0">
      <h2 class="text-sm tracking-widest ">
        {% include 'theme/simple/business_card', user: item.owner.email %}
      </h2>

      <h1 class="mb-1 text-2xl">
        {{ item.name }}
      </h1>

      <div class="flex flex-wrap mb-4">
        <ul class="flex w-full categories">
          <li><span class="font-semibold">category: </span></li>
          <li class="ml-2">{{ 'categories.' | append: item.category | t }}</li>
        </ul>
      </div>

      <div class="flex flex-wrap mb-4">
        {%- if item.tags.size > 0 %}
        <ul class="flex w-full tags">
          <li><span class="font-semibold">tags: </span></li>
          {%- for tag in item.tags %}
            <li class="ml-2">{{ tag }}</li>
          {%- endfor %}
        </ul>
        {%- endif %}
      </div>

      <p class="mt-4 leading-relaxed">{{ item.description }}</p>

      <div class="flex mt-4">
        <span class="text-2xl text-gray-900 ">{{ item.price | pricify_cents }}</span>
        {% if item.status.name != 'app.item_statuses.sold' %}
        <form action="/orders/new" method="get" class="ml-auto ">
          <input type="hidden" name="item_id" value="{{ item.id }}">
          <button id="buybutton" class="button">
            Buy for {{ item.price | pricify_cents }}
          </button>
        </form>
        {% else %}
        <form action="/orders/new" method="get" class="ml-auto ">
          <input type="hidden" name="item_id" value="{{ item.id }}">
          <button class="button" disabled>
            Sold
          </button>
        </form>
        {% endif %}
      </div>

      <div class="flex flex-wrap mb-4">
        <div class="rating">
          <div class="rating-point" rel={{ product_rating }}></div>
        </div>
        <span class="rating-score">{{ product_rating | round: 2 }}</span>
      </div>

      {%- if item.owner.id == context.current_user.id and item.orders.size < 1 %}
        <p class="py-4 mt-4 border-t border-blue-300">Item Administration</p>
        <span class="flex">
          <a href="/items/edit?id={{ item.id }}" class="button">Edit</a>

        <form action="/items/delete" method="post" class="ml-2"
          onSubmit="if(!confirm('{{ 'app.confirm-delete' | t }}')){ return false; }"
        >
          {% include 'authenticity_token' %}
          <input type="hidden" name="id" value="{{ item.id }}">

          <button id="deletebutton" class="button button-secondary">{{ 'app.delete' | t }}</button>
        </form>
      </span>
      {%- endif %}

    </div>
  </div>
</div>

<div class="container reviews">
  <p class="text-2xl text-gray-900 ">Reviews</p>
  <div class="recent-reviews">
    {% for review in item.reviews %}
      <div class="recent-review">
        <div class="flex flex-wrap mb-4">
          <div class="rating">
            <div class="rating-point" rel={{ review.rating }}></div>
          </div>
          <span class="rating-score">{{ review.rating | round: 2 }}</span>
        </div>
        <p><b>{{ review.owner}}</b> : {{ review.comment }}</p>
      </div>
    {% endfor %}
  </div>
  
  {%- if context.current_user.id %}
    <form action="/reviews/create" method="post" class="form-review" >
      <p class="title text-2xl text-gray-900 ">Add New Review</p>    
      {% include 'authenticity_token' %}
      <input type="hidden" name="item[id]" value="{{ item.id }}">
      <input type="hidden" name="item[uuid]" value="{{ item.uuid }}">
      <input type="hidden" name="item[owner]" value="{{ context.current_user.email }}">
      <input type="hidden" name="item[url]" value="{{ item_url }}">
      <input type="hidden" class="rating-value" name="item[rating]" value="0">
      <div class="mt-3">
        <div class="rating variable">
          <div class="rating-point"></div>
        </div>
        <label class="hidden" for="comment">Comment</label>
        <textarea class="w-full form-input" type="text" id="comment" name="item[comment]" rows="3"
          required></textarea>
      </div>
      <div class="text-right">
        <button id="addreview" class="button">Add Review</button>
      </div>
    </form>
  {%- endif %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ 'js/custom.js' | asset_url }}"></script>