{% content_for item_metatags %}
  {% include 'theme/simple/items/metatags', item: item %}
{% endcontent_for %}
<div class="container">
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/2">
      {% if item.photos.size > 1 %}
        <div class="relative glider-contain">
          <div class="overflow-x-hidden glider" glider>
            {% for p in item.photos limit: 5 %}
              <div><img alt="{{ item.name }}" src="{{ p.photo.versions.uncropped }}" class="object-cover w-full"></div>
            {% endfor %}
          </div>

          <button role="button" aria-label="Previous" class="left-0 glider-prev">
            <svg viewBox="0 0 16 16" class="w-full" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
          </button>

          <button role="button" aria-label="Next" class="right-0 glider-next">
            <svg viewBox="0 0 16 16" class="w-10 h-10" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </button>

          <div role="tablist" class="py-4 glider-dots"></div>
        </div>
      {% else %}
        {% function_rc cover_url = 'theme/simple/items/cover_url', item: item %}
        <img alt="{{ item.name }}" class="object-center w-full h-full rounded" src="{{ cover_url }}">
      {% endif %}
    </div>

    <div class="w-full mt-6 lg:w-1/2 lg:pl-10 lg:py-6 lg:mt-0">
      <h2 class="text-sm tracking-widest ">
        {% include 'theme/simple/business_card', user: item.owner.email %}
      </h2>

      <h1 class="mb-1 text-2xl">
        {{ item.name }}
      </h1>

      <div class="flex flex-wrap mb-4">
        <ul class="flex w-full categories">
          <li><span class="font-semibold">category: </span></li>
          <li class="ml-2">{{ 'categories.' | append: item.category | t }}</li>
        </ul>
      </div>

      {% comment %}
      <div class="flex flex-wrap mb-4">
        {%- if item.tags.size > 0 %}
        <ul class="flex w-full tags">
          <li><span class="font-semibold">tags: </span></li>
          {%- for tag in item.tags %}
            <li class="ml-2">{{ tag }}</li>
          {%- endfor %}
        </ul>
        {%- endif %}
      </div>
      {% endcomment %}

      <p class="mt-4 leading-relaxed">{{ item.description }}</p>

      <div class="flex mt-4">
        <span class="text-2xl text-gray-900 ">{{ item.price | pricify_cents }}</span>

        <form action="/orders/new" method="get" class="ml-auto ">
          <input type="hidden" name="item_id" value="{{ item.id }}">
          <button id="buybutton" class="button">
            Buy for {{ item.price | pricify_cents }}
          </button>
          {% if item.orders.size > 0 %}
          <div>{% print 'app.items.ordered_times' | t: count: item.orders.size %}</div>
          {% endif %}
        </form>
      </div>

        {%- if item.owner.id == context.current_user.id and item.orders.size < 1 %}
        <p class="py-4 mt-4 border-t border-blue-300">Item Administration</p>
        <span class="flex">
          <a href="/items/edit?id={{ item.id }}" class="button">Edit</a>

        <form action="/items/delete" method="post" class="ml-2"
          onSubmit="if(!confirm('{{ 'app.confirm-delete' | t }}')){ return false; }"
        >
          {% include 'authenticity_token' %}
          <input type="hidden" name="id" value="{{ item.id }}">

          <button id="deletebutton" class="button button-secondary">{{ 'app.delete' | t }}</button>
        </form>
      </span>
      {%- endif %}

    </div>
  </div>
</div>
