<section class="px-4 py-13">
  <h2 class="mb-2 text-3xl leading-tight font-heading text-center">{{ 'app.about-us.about-pos-community-title' | t }}</h2><br><br>
  <p class="max-w-xl mx-auto mb-12 text-gray-500">{{ 'app.about-us.about-pos-community-body1' | t }}</p>
  <p class="max-w-xl mx-auto mb-12 text-gray-500">{{ 'app.about-us.about-pos-community-body2' | t }}</p>
  <p class="max-w-xl mx-auto mb-12 text-gray-500">{{ 'app.about-us.about-pos-community-body3' | t }}</p>
  <ul class="max-w-xl mx-auto mb-8 text-gray-500">
    <p class="max-w-xl mx-auto mb-8 text-gray-500"><b>{{ 'app.about-us.be-part-of-title' | t }}</b></p>
    <li>{{ 'app.about-us.be-part-of-li1' | t }}</li>
    <li>{{ 'app.about-us.be-part-of-li2' | t }}</li>
    <li>{{ 'app.about-us.be-part-of-li3' | t }}</li>
    <li>{{ 'app.about-us.be-part-of-li4' | t }}</li>
    <li>{{ 'app.about-us.be-part-of-li5' | t }}</li>
    <li>{{ 'app.about-us.be-part-of-li6' | t }}</li>
    <li>{{ 'app.about-us.be-part-of-li7' | t }}</li>
    <li>{{ 'app.about-us.be-part-of-li8' | t }}</li>
    <li>{{ 'app.about-us.be-part-of-li9' | t }}</li>
  </ul><br>
  <h2 class="mb-2 text-3xl leading-tight font-heading text-center">{{ 'app.about-us.additional-resources' | t }}</h2><br><br>
  <p class="max-w-xl mx-auto text-gray-500">{{ 'app.about-us.link-to-platformos' | t }}<br>{{ 'app.about-us.about-platformos' | t }}</p><br>
  <p class="max-w-xl mx-auto text-gray-500">{{ 'app.about-us.link-to-blog' | t }}<br>{{ 'app.about-us.about-blog' | t }}</p><br>
  <p class="max-w-xl mx-auto text-gray-500">{{ 'app.about-us.link-to-partner-portal' | t }}<br>{{ 'app.about-us.about-platformos' | t }}</p><br>
  <p class="max-w-xl mx-auto text-gray-500">{{ 'app.about-us.link-to-documentation' | t }}<br>{{ 'app.about-us.about-platformos' | t }}</p><br>

  </section>
