<main class="mx-auto px-6 xl:px-12 max-w-7xl pb-10 pt-px">
  <div class="container w-full xl:w-4/5 mt-10 mb-32 text-lg">
    <h1 class="text-2xl font-bold text-center"> {{ 'app.privacy.privacy-policy' | t }} </h1>
    <p class="mt-8 text-center text-sm"> {{ 'app.privacy.last-updated' | t }} </p>
    <h3 class="text-xl font-bold mt-8"> {{ 'app.privacy.our-policy' | t }} </h3>
    <p> {{ 'app.privacy.our-policy-inner' | t }} </p>

    <h3 class="text-xl font-bold mt-8">{{ 'app.privacy.info-we-collect' | t }}</h3>
    {{ 'app.privacy.info-we-collect-inner' | t }}
    <p class="mt-5">{{ 'app.privacy.personal-data' | t }}</p>

    <p class="font-bold"> {{ 'app.privacy.by-voluntarily' | t }} </p>

    <p class="mt-5"><span class="font-bold"> {{ 'app.privacy.non-identifiable' | t }} </span> {{ 'app.privacy.non-identifiable-inner' | t }} </p>

    <p class="mt-5"> {{ 'app.privacy.paragraph1' | t }} </p>
    <p class="mt-5"> {{ 'app.privacy.paragraph2' | t }} </p>
    <p class="mt-5"> {{ 'app.privacy.paragraph3' | t }} </p>

    <p class="mt-5"><span class="font-bold">{{ 'app.privacy.paragraph4-title' | t }}</span>{{ 'app.privacy.paragraph4-inner' | t }}</p>

    <h3 class="text-xl font-bold mt-8"> {{ 'app.privacy.our-use-of-your-personal-data' | t }} </h3>
    <p> {{ 'app.privacy.our-use-of-your-personal-data-inner' | t }} </p>
    <p class="mt-5"> {{ 'app.privacy.our-use-of-your-personal-data-inner-p1' | t }}  </p>
    <p class="mt-5"> {{ 'app.privacy.our-use-of-your-personal-data-inner-p2' | t }}  </p>

    <h3 class="text-xl font-bold mt-8"> {{ 'app.privacy.our-disclosure-of-your-personal-data' | t }} </h3>
    <p> {{ 'app.privacy.our-disclosure-of-your-personal-data-inner' | t }} </p>
    <p class="mt-5"> {{ 'app.privacy.business-transfers' | t }} </p>
    <p> {{ 'app.privacy.related-companies' | t }} </p>
    <p> {{ 'app.privacy.agents-service-providers' | t }} </p>
    <p> {{ 'app.privacy.legal-requirements' | t }} </p>
    <p> {{ 'app.privacy.enforcement' | t }} </p>

    <h3 class="text-xl font-bold mt-8"> {{ 'app.privacy.your-choices' | t }} </h3>
    <p> {{ 'app.privacy.your-choices-inner' | t }} </p>

    <h3 class="text-xl font-bold mt-8"> {{ 'app.privacy.exclusions' | t }} </h3>
    <p> {{ 'app.privacy.exclusions-inner' | t }} </p>

    <h3 class="text-xl font-bold mt-8">{{ 'app.privacy.children' | t }}</h3>
    <p> {{ 'app.privacy.children-inner' | t }} </p>

    <h3 class="text-xl font-bold mt-8"> {{ 'app.privacy.links-to-other-sites' | t }} </h3>
    <p> {{ 'app.privacy.links-to-other-sites-inner' | t }} </p>

    <h3 class="text-xl font-bold mt-8"> {{ 'app.privacy.integrating-third-party' | t }} </h3>
    <p> {{ 'app.privacy.integrating-third-party-inner' | t }} </p>

    <h3 class="text-xl font-bold mt-8">{{ 'app.privacy.security' | t }}</h3>
    <p> {{ 'app.privacy.security-inner' | t }} </p>

    <h3 class="text-xl font-bold mt-8">{{ 'app.privacy.other-terms-and-conditions' | t }}</h3>
    <p> {{ 'app.privacy.other-terms-and-conditions-inner' | t }} </p>

    <h3 class="text-xl font-bold mt-8"> {{ 'app.privacy.changes-to-policy' | t }} </h3>
    <p> {{ 'app.privacy.changes-to-policy-inner' | t }} </p>

    <h3 class="text-xl font-bold mt-8"> {{ 'app.privacy.access-to-info' | t }} </h3>
    <p> {{ 'app.privacy.access-to-info-p1' | t }} </p>
    <p class="mt-5"> {{ 'app.privacy.access-to-info-p2' | t }} </p>
    <p class="mt-5"> {{ 'app.privacy.contact-us' | t }}

  </div>
</main>