<h1 class="text-4xl font-medium text-center">
  status - {{ status.id }}
</h1>

<span class="font-medium">
  {{ 'app.models.statuses.form.name' | t }}
</span>
<p class="mb-10">
  {{ status.name }}
</p>

<span class="font-medium">
  {{ 'app.models.statuses.form.fullname' | t }}
</span>
<p class="mb-10">
  {{ status.fullname }}
</p>

<span class="font-medium">
  {{ 'app.models.statuses.form.scope' | t }}
</span>
<p class="mb-10">
</p>

<span class="font-medium">
  {{ 'app.models.statuses.form.timestamp' | t }}
</span>
<p class="mb-10">
  {{ status.timestamp }}
</p>

<span class="font-medium">
  {{ 'app.models.statuses.form.object_id' | t }}
</span>
<p class="mb-10">
  {{ status.object_id }}
</p>

<span class="font-medium">
  {{ 'app.models.statuses.form.payload' | t }}
</span>
<p class="mb-10">
  {{ status.payload }}
</p>

