<h2 class="text-2xl">
  {{ 'app.payments.account.show.account_information' | t }}
</h2>
{% if account.id != blank  %}

  {%- if account.state == "pending" -%}
    <h2 class="my-2 text-xl">
      {{ 'app.payments.account.show.verification_pending' | t }}
    </h2>
    <p>
      {{ 'app.payments.account.show.you_have_connected' | t }}
      <span class="font-semibold">{{ 'app.payments.account.show.pending_verification' | t }}</span>.
      <br>
      {{ 'app.payments.account.show.check_details' | t }}
      <a class="font-semibold underline hover:no-underline" target="_blank" rel="noopener noreferrer"
        href="/payments/account/stripe-dashboard">
        {{ 'app.payments.account.show.stripe_account_dashboard' | t }}
      </a>
    </p>
  {%- elsif account.state == "verified" -%}
    <h2 class="my-2 text-xl text-green-700">
      {{ 'app.payments.account.show.account_verified' | t }}
    </h2>

    <p>
      {{ 'app.payments.account.show.you_have_successfully_connected' | t }}
      <br/>
      {{ 'app.payments.account.show.you_can_manage_details' | t }}
      <a class="font-semibold underline hover:no-underline" target="_blank" rel="noopener noreferrer"
        href="/payments/account/stripe-dashboard">
        {{ 'app.payments.account.show.stripe_account_dashboard' | t }}
      </a>.
    </p>
  {%- else -%}
    <h2 class="my-2 text-xl">
      {{ 'app.payments.account.show.verification_status' | t }}
      <span class="font-semibold text-red-700">{{ account.state | humanize | downcase }}</span>
    </h2>

    <p>
      {{ 'app.payments.account.show.there_is_a_problem' | t }}
      <br/>
      {{ 'app.payments.account.show.go_to' | t }}
      <a class="font-semibold underline hover:no-underline" target="_blank" rel="noopener noreferrer"
        href="/payments/account/stripe-dashboard">
        {{ 'app.payments.account.show.stripe_account_dashboard' | t }}
      </a>
      {{ 'app.payments.account.show.to_find_more' | t }}
    </p>
  {%- endif -%}
{%- endif -%}
