<section class="py-8">
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    {% for metric in metrics %}
	  <div class="w-full">
        <div class="bg-white border rounded shadow">
          <div class="flex items-center justify-between px-4 py-3 border-b">
            <h3 class="text-lg font-heading">
              {{ 'admin.metric.'| append: metric.name | append: ".name" | t }}
            </h3>
            <span class="px-3 py-1 text-sm font-semibold text-white bg-green-700 rounded-full">
              {{ 'admin.metric.period.'| append: metric.period | t }}
            </span>
          </div>
          <div class="flex flex-col p-4">
            <h3 class="mb-3 text-3xl font-semibold font-heading">
              {% if metric.name == 'income' %}
                {{ metric.value | pricify_cents }}
              {% else %}
                {{ metric.value }}
              {% endif %}
            </h3>
            <span>
              {{ 'admin.metric.' | append: metric.name | append: '.delta' | t }}
            </span>
            <span class="text-lg text-green-700">
              {% if metric.name == 'income' %}
                {{ metric.delta | pricify_cents }}
              {% else %}
                {{ metric.delta }}
              {% endif %}
            </span>
          </div>
        </div>

        <span class="text-xs">
          {{ 'admin.metric.'| append: metric.name | append: ".description" | t }}
        </span>
      </div>
    {% endfor %}
  </div>
</section>

