{% liquid
  function creator_url = 'link_to', profile: post.creator
%}

<article class="mb-10 {% if post.parent_id == null %} mt-5 {% endif %}">
  <section class="w-full flex {% if post.parent_id == null %} card {% else %} p-4 border-t {% endif %}">
    <aside class="pr-4 flex flex-col flex-shrink-0 items-center">
      <a href="{{ creator_url }}">
        {% liquid
        assign img_url = post.creator.avatar.photo.versions.tiny
        unless img_url
          assign img_url = 'images/user.svg' | asset_url
        endunless
        %}
        <img width="40" height="40" class="w-10 h-10 rounded-full object-cover mb-2" src="{{ img_url }}" alt="{{ post.creator.name }}">
      </a>
      {% include 'theme/simple/posts/vote_box', post: post, current_profile: current_profile, root_post: root_post %}
    </aside>

    <div class="w-full min-w-0 flex-1 flex flex-col">
      <header class="w-full h-10 mb-2 md:flex justify-between items-center">
        <a href="{{ creator_url }}">
          {{ post.creator.name }}
        </a>
        <date datetime="{{ post.created_at }}" class="block text-sm text-content-sidenote">{{ post.created_at | l: 'compact' }}</date>
      </header>

      <div class="markdown mb-5">
        {{ post.body | default: '' | markdownify }}
      </div>

      <footer class="mt-auto self-end">
        {% if root_post.id == post.id and root_post.creator.id == current_profile.id %}
          <a href="/dashboard/posts/edit?id={{ post.id }}" class="button button-secondary button-small">
            {{ 'app.models.posts.edit' | t }}
          </a>
        {% elsif post.creator_id == current_profile.id %}
          <a href="/dashboard/posts/edit_answer?id={{ post.id }}" class="button button-secondary button-small">
            {{ 'app.models.posts.edit_answer' | t }}
          </a>

          <form action="/dashboard/posts/" method="post" class="inline ml-2" onSubmit="if(!confirm('{{ 'app.confirm-delete' | t }}')){ return false; }" >
            {% include 'authenticity_token' %}
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="id" value="{{ post.id }}">
            <input type="hidden" name="return_to" value="{% render 'link_to', post: root_post %}">

            <button class="button button-small button-danger">{{ 'app.models.shared.delete' | t }}</button>
          </form>
        {% endif %}
      </footer>
    </div>
  </section>

  {% if post.comments.size > 0 %}
    <section>
      {% include 'theme/simple/posts/comments', list: post.comments, root_post: root_post, current_profile: current_profile %}
    </section>
  {% endif %}

  <section class="mt-4 md:ml-14 md:px-4">
    {% liquid
      if current_profile.id
        include 'theme/simple/comments/new_entry', commentable: post, commentable_type: 'post', placeholder: 'Your comment', hidden: true, images: false
      endif
    %}
  </section>

</article>
