{% liquid
  function creator_url = 'link_to', profile: post.creator
%}

<article class="flex bg-white shadow-lg rounded-lg border {% if root_post.accepted_post_id == post.id %}border-green-600{% else %}border-white{% endif %} mx-4 md:mx-auto mb-10" data-tc="postcard">
  <div class="flex items-start px-4 py-6 w-full">
    <aside class="flex flex-col flex-shrink-0 items-center pr-4">
      <a href="{{ creator_url }}">
        {% liquid
          assign img_url = post.creator.avatar.photo.versions.tiny
          unless img_url
            assign img_url = 'images/user.svg' | asset_url
          endunless
        %}
        <img class="w-12 h-12 rounded-full object-cover mb-5 shadow" src="{{ img_url }}" alt="avatar">
      </a>
      {% include 'theme/simple/posts/vote_box', post: post, current_profile: current_profile, root_post: root_post %}
    </aside>
    <div class="flex flex-col w-full h-full">
      <div class="md:flex items-start justify-between">
        <header>
          <a href="{{ creator_url }}" class="text-lg font-semibold -mt-1">
            {{post.creator.name}}
          </a>
          <date datetime="{{ post.created_at }}" class="block text-sm text-gray-700">{{post.created_at | l: 'compact'}}</date>
        </header>
        {% if post.tags %}
          <ul class="ml-auto">
            {% for tag in post.tags %}
              <li class="inline-block leading-9">
                <a class="px-2 py-1 bg-gray-200 rounded" href="/posts?tag={{tag}}">{{tag}}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="flex-1 mt-3 markdown">
        {{post.body | default: '' | markdownify}}
      </div>

      <div class="w-full md:flex justify-between mt-4">
        {% if root_post.creator.id == current_profile.id %}
          <a href="/dashboard/posts/edit?id={{ post.id }}" class="button button-secondary button-small">
            {{ 'app.models.posts.edit' | t }}
          </a>
        {% elsif post.creator_id == current_profile.id %}
          <a href="/dashboard/posts/edit_answer?id={{ post.id }}" class="button button-secondary button-small">
            {{ 'app.models.posts.edit_answer' | t }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</article>