{% liquid
  function root_post_url = 'link_to', post: root_post
%}
<ul>
  {% for comment in list %}
    {% liquid
      function comment_creator_url = 'link_to', profile: comment.creator
    %}
    <li class="mt-4 md:ml-14 pt-2 md:px-4 flex border-t border-dashed {% if forloop.last %} border-b pb-3 {% endif %}">
      <div class="w-full">
        <div class="md:h-10 mb-2 md:flex justify-between items-center">
          <a href="{{ comment_creator_url }}">
            {{ comment.creator.name }}
          </a>
          <span class="block">
            {% if comment.creator.id == current_profile.id %}
              <span class="pr-5">
                <a href="/comments/edit/{{comment.id}}?return_to={{root_post_url}}" class="text-interaction">{{ 'app.models.shared.edit' | t }}</a>
                |
                <form action="/comments" method="post" onSubmit="if(!confirm('{{ 'app.confirm-delete' | t }}')){ return false; }" class="inline">
                  {% include 'authenticity_token' %}
                  <input type="hidden" name="_method" value="delete">
                  <input type="hidden" name="id" value="{{ comment.id }}">
                  <input type="hidden" name="return_to" value="{{ root_post_url }}">
                  <button class="text-danger">{{ 'app.models.shared.delete' | t }}</button>
                </form>
              </span>
            {% endif %}
            <date datetime="{{ comment.created_at }}" class="text-sm text-content-sidenote">
              {{comment.created_at | l: 'compact'}}
            </date>
          </span>
        </div>

        <span class="markdown">
          {% liquid
            assign comment_body_formatted = comment.body | markdown: '{ "elements": ["b","strong","i","em","a","code"], "attributes":{ "a": ["href"] } }'
            echo comment_body_formatted
          %}
        </span>
      </div>
    </li>
  {% endfor %}
</ul>
