{% liquid
  function post_path = 'link_to', post: post

  if post.accepted_post_id != blank
    assign score_css = 'border-confirmation text-confirmation'
  else
    assign score_css = null
  endif
%}

<article class="card mb-10 flex">

  <aside class="pr-4 flex flex-col flex-shrink-0 items-center">
		<span class="w-12 h-12 flex items-center justify-center border rounded-lg {{ score_css }}">
		  {{ post.c__score | default: 0 }}
    </span>
    <span class="sidenote">
      {{ 'app.models.posts.score' | t }}
    </span>

    {% assign answers = post.c__answers | default: 0 %}
    <span class="pt-5">
      {{ answers }}
    </span>
    <span class="sidenote">
      {{ 'app.models.posts.answers' | t | pluralize: answers }}
    </span>
  </aside>

  <div class="w-full min-w-0 flex-1 flex flex-col">

    <div class="w-full mb-3 md:mb-2 md:flex justify-between">
        <date datetime="{{ post.created_at }}" class="mb-1 md:mb-0 block text-content-sidenote">{{ post.created_at | l: 'compact' }}</date>
        {% render 'theme/simple/ui/tags', tags: post.tags, url: '/posts?tag=' %}
    </div>

    <h3 class="title">
      <a href="{{ post_path }}">
        {{ post.title }}
      </a>
    </h3>

    <a class="flex self-end items-center text-content" href="{% render 'link_to', profile: post.creator %}">
      {% liquid
        assign img_url = post.creator.avatar.photo.versions.tiny
        unless img_url
          assign img_url = 'images/user.svg' | asset_url
        endunless
      %}
      <img width="32" height="32" class="w-8 h-8 mr-2 object-cover rounded-full" src="{{ img_url }}" alt="{{ post.creator.name }}">
      {{ post.creator.name }}
    </a>

  </div>
</article>
