<footer class="mt-10 text-gray-700 border-t border-gray-300">
  <div class="container flex flex-col flex-wrap px-5 py-24 mx-auto md:items-center lg:items-start md:flex-row md:flex-no-wrap">
    <div class="flex-shrink-0 w-64 mx-auto text-center md:mx-0 md:text-left">
      <a class="flex items-center justify-center font-medium text-gray-900 md:justify-start">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 p-2 text-white bg-blue-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">{{ 'app.footer.title' | t }}</span>
      </a>
      <p class="mt-2 text-sm text-gray-500">{{ 'app.footer.description' | t }}</p>
    </div>

    <div class="flex flex-wrap flex-grow mt-10 -mb-10 text-center md:pl-20 md:mt-0 md:text-left">
      <div class="w-full px-4 lg:w-1/4 md:w-1/2">
        <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 title-font">{{ 'app.footer.header.title.sellers' | t }}</h2>
        <nav class="mb-10 list-none">
          <li>
            <a href="/" class="text-gray-600 hover:text-gray-800">{{ 'app.footer.header.list.smartbuy' | t }}</a>
          </li>
          <li>
            <a href="about-us" class="text-gray-600 hover:text-gray-800">{{ 'app.footer.header.list.namefounder' | t }}</a>
          </li>
          <li>
            <a href="terms-of-service" class="text-gray-600 hover:text-gray-800">{{ 'app.footer.header.list.xcite' | t }}</a>
          </li>
          <li>
            <a href="terms-of-service" class="text-gray-600 hover:text-gray-800">{{ 'app.footer.header.list.homemade' | t }}</a>
          </li>
        </nav>
      </div>

      <div class="w-full px-4 lg:w-1/4 md:w-1/2">
        <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 title-font">{{ 'app.footer.header.title.company' | t }}</h2>
        <nav class="mb-10 list-none">
          <li>
            <a href="/sign-up" class="text-gray-600 hover:text-gray-800">{{ 'app.footer.header.list.resources' | t }}</a>
          </li>
          <li>
            <a href="/sign-up" class="text-gray-600 hover:text-gray-800">{{ 'app.footer.header.list.howitworks' | t }}</a>
          </li>
          <li>
            <a href="/sign-up" class="text-gray-600 hover:text-gray-800">{{ 'app.footer.header.list.benef' | t }}</a>
          </li>
          <li>
            <a href="/sign-up" class="text-gray-600 hover:text-gray-800">{{ 'app.footer.header.list.termsofservice' | t }}</a>
          </li>
          <li>
            <a href="/sessions/new" class="text-gray-600 hover:text-gray-800">{{ 'app.footer.header.list.privacypolicy' | t }}</a>
          </li>
        </nav>
      </div>
      <div class="w-full px-4 lg:w-1/4 md:w-1/2">
        <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 title-font">{{ 'app.footer.header.title.connect' | t }}</h2>
        <nav class="mb-10 list-none">
          <li>
            <a href="https://twitter.com/" target="_blank" class="text-gray-600 hover:text-gray-800">{{ 'app.footer.header.list.twitter' | t }}</a>
          </li>
          <li>
            <a href="https://instagram.com/" target="_blank" class="text-gray-600 hover:text-gray-800">{{ 'app.footer.header.list.instagram' | t }}</a>
          </li>
          <li>
            <a href="https://facebook.com/" target="_blank" class="text-gray-600 hover:text-gray-800">{{ 'app.footer.header.list.facebook' | t }}</a>
          </li>
        </nav>
      </div>
      <div class="w-full px-4 lg:w-1/4 md:w-1/2">
        <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 title-font">{{ 'app.footer.header.title.contact' | t }}</h2>
        <nav class="mb-10 list-none">
          <li>
            <a href="/contact-us" class="text-gray-600 hover:text-gray-800">{{ 'app.footer.header.list.email' | t }}</a>
          </li>
          <li>
            <a href="/faq" class="text-gray-600 hover:text-gray-800">{{ 'app.footer.header.list.feedback' | t }}</a>
          </li>
        </nav>
      </div>
    </div>
  </div>


  </div>
</footer>