<style>
  .menu * { display: inline-block; }
</style>
<div class="section hero">
  <div class="container">
    <div class="row">
      <a href="/"><h1>{{ 'app.title' | t }}<small style="font-size: 0.5em"> {{ 'app.version' | t }}</small></h1></a>
    </div>
    <div class="row menu">
      <a href="/items/new" class="button button-primary">{% echo 'app.list-your-item' | t %}</a>
      {% if current_user_id  %}
        <a href="/dashboard" class="button">{{ 'app.dashboard' | t }}</a>
        <form action="/sessions/destroy" method="post">
          {% include 'authenticity_token' %}
          <input name="" type="submit" value="{{ 'app.logout' | t: user: current_user_id }}"/>
        </form>
      {% else %}
        <a href="/sessions/new" class="button">{{ 'app.login' }}</a>
      {% endif %}
    </div>

    {{ content_for_layout }}

    {% include 'layout/scripts' %}
  </div>
</div>
