<section class="my-10 container items-center">
  <h2 class="bigtitle text-center">{{ 'app.account.reset_password.title' | t }}</h2>

  <form action="/authentication_links/create" method="post" class="card w-full md:w-96 mx-auto">
    {% include 'authenticity_token' %}

    <p>{{ 'app.account.reset_password.description' | t }}</p>

    <fieldset class="mt-5">
      <label for="email">{{ 'app.users.attr.email' | t }}</label>
      <input name="authentication_link[email]" type="email" id="email" value="{{ object.email }}" class="w-full" autofocus required>
      {% include 'theme/simple/field_error', errors: object.errors.email %}
    </fieldset>

    <fieldset class="mt-5 text-center">
      <button class="button">{{ 'app.account.reset_password.send_link' | t }}</button>
    </fieldset>
</section>
