<div class="w-full mx-auto">
  <div class="mb-5 text-right">
    <a href="/dashboard/groups/new" class="button">
      {{ 'app.groups.add' | t }}
    </a>
  </div>
  <div class="my-6 bg-white rounded shadow-md">
    {% if groups.results.size > 0 %}
      <table class="w-full text-left border-collapse">
        <thead>
          <tr>
            <th class="px-6 py-4 text-sm font-bold uppercase border-b bg-grey-lightest text-grey-dark border-grey-light">
              {{ "app.groups.picture" | t }}
            </th>
            <th class="px-6 py-4 text-sm font-bold uppercase border-b bg-grey-lightest text-grey-dark border-grey-light">
              {{ "app.groups.name" | t }}
            </th>
            <th class="px-6 py-4 text-sm font-bold uppercase border-b bg-grey-lightest text-grey-dark border-grey-light">
              {{ "app.groups.summary" | t }}
            </th>
            <th class="px-6 py-4 text-sm font-bold uppercase border-b bg-grey-lightest text-grey-dark border-grey-light">
              {{ "app.groups.actions" | t }}
            </th>
          </tr>
        </thead>
        <tbody>
          {% for group in groups.results %}
            <tr class="hover:bg-grey-lighter">
              <td class="px-6 py-4 border-b border-grey-light">
                <a href="/groups/show/{{ group.id }}">
                  <img src="{{ group.main_photo.photo.versions.small | default: 'https://dummyimage.com/100x100' }}" class="object-cover object-center w-32 h-32" />
                </a>
              </td>
              <td class="px-6 py-4 border-b border-grey-light">
                <a href="/groups/show/{{ group.id }}">
                  {{ group.name }}
                </a>
              </td>
              <td class="px-6 py-4 border-b border-grey-light">
                {{ group.summary }}
              </td>
              <td class="px-6 py-4 border-b border-grey-light">
                <a href="/dashboard/groups/edit?id={{ group.id }}" class="button">
                  Edit
                </a>
                <form action="/dashboard/groups" method="post" class="inline ml-2" onSubmit="if(!confirm('{{ 'app.confirm-delete' | t }}')){ return false; }" >
                  {% include 'authenticity_token' %}
                  <input type="hidden" name="_method" value="delete" />
                  <input type="hidden" name="id" value="{{ group.id }}">

                  <button id="deletebutton" class="button button-secondary">{{ 'app.delete' | t }}</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      {% include 'theme/simple/dashboard/groups/empty_state' %}
    {% endif %}
  </div>
</div>
