{% liquid
  if object.id
    assign method = 'put'
  else
    assign method = 'post'
  endif
%}
<div class="container flex flex-wrap mx-auto groups-center">
  <form action="/comments" method="post" class="w-full md:w-2/3">
    {% include 'authenticity_token' %}
    <input type="hidden" name="_method" value="{{method}}" />
    <input type="hidden" name="return_to" value="{{ context.params.return_to }}" />

    {% if object.id %}
      <input type="hidden" name="comment[id]" value="{{ object.id }}" />
    {% endif %}

    <div class="mt-5">
      <label class="block" for="body">{{ 'app.models.comments.form.body' | t }}</label>
      <textarea name="comment[body]" class="w-full p-2 outline-none" rows="3" placeholder="{{ placeholder }}" autofocus required>{{object.body}}</textarea>
      {% render 'theme/simple/ui/form-tip', content_key: 'app.models.comments.form.body_help' %}

      {% include 'theme/simple/field_error', errors: object.errors.body %}
    </div>

    <button class="mt-8 button">{{ 'app.models.shared.submit' | t }}</button>
  </form>
</div>
