{% liquid
  assign uuid = '' | uuid
  if images == null
    assign images = true
  endif
%}
<form action="/comments" method="post" data-comment-new-post>
  {% include 'authenticity_token', authenticity_token: authenticity_token %}
  <input type="hidden" name="comment[commentable_id]" value="{{ commentable.id }}" />
  <input type="hidden" name="comment[commentable_uuid]" value="{{ commentable.uuid }}" />
  <input type="hidden" name="comment[commentable_type]" value="{{ commentable_type }}" />
  <input type="hidden" name="comment[uuid]" value="{{ uuid }}" />
  <input type="hidden" name="return_to" value="{{ context.location.pathname }}" />

  <div class="{% if hidden %}hidden{% endif %}" data-comment-form>
    <div class="relative">
      <textarea name="comment[body]" class="w-full p-2 outline-none" rows="3" placeholder="{{ placeholder }}" required></textarea>
      {% render 'theme/simple/ui/form-tip', content_key: 'app.models.comments.form.body_help' %}

      <div data-comment-photo-upload class="absolute top-0 right-0 w-8 h-8 mt-5 mr-5 text-gray-600 cursor-pointer" title="images">
        {% if images %}
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" /> </svg>
        {% endif %}
      </div>
    </div>

    {% liquid
      if images
        render 'theme/simple/photos/uppy_area', class: "hidden mt-5"
      endif
    %}

    <div class="flex mt-3">
      <button type="submit" class="ml-auto button button-small">{{ 'app.models.comments.send' | t }}</button>
    </div>
  </div>

  {% if hidden %}
    <div class="w-full flex justify-between flex-row-reverse" data-comment-show-new-post>
      <span class="button button-secondary button-small cursor-pointer">{{ 'app.models.comments.comment' | t }}</span>
    </div>
  {% endif %}
</form>

{% liquid
  if images
    include 'theme/simple/photos/uppy_form', object_uuid: uuid, presigned_url: presigned_url, user_id: current_profile.id, photo_type: 'main'
  endif
%}
