{% if order.properties.paid_at == null and role == 'seller' %}
  <form action="/order_statuses/create" method="post">
    {% include 'authenticity_token' %}
    <input type="hidden" name="status" value="app.order_statuses.paid"/>
    <input type="hidden" name="order_id" value="{{ order.id }}"/>

    <button name="" value="{{ 'app.mark-as-paid' | t }}" class="button">{{ 'app.mark-as-paid' | t }}</button>
  </form>
{% endif %}

{% if order.properties.paid_at == null and role == 'buyer' %}
  <form action="/order_statuses/create" method="post">
    {% include 'authenticity_token' %}
    <input type="hidden" name="status" value="app.order_statuses.paid"/>
    <input type="hidden" name="order_id" value="{{ order.id }}"/>

    <button name="" value="{{ 'app.pay' | t }}" class="button">{{ 'app.pay' | t }}</button>
  </form>
{% endif %}
