<div class="mt-10 mb-5">
  <h1 class="text-3xl font-medium">
    {{ 'app.orders.show.order' | t }} {{order.id}}
  </h1>
</div>

<section class="p-8 text-gray-800 bg-white shadow-lg">
  <ul class="text-lg lg:text-xl font-bold text-gray-800">
    <li class="flex gap-4 py-3 justify-between border-b">
      <div>{{ 'app.status' | t }}:</div>
      <div>{{ order.status.fullname | t }}</div>
    </li>
    <li class="flex gap-4 py-3 justify-between border-b">
      <div>{{ 'app.orders.checkout.order_total' | t }}</div>
      <div>{{ order.total_price_cents | pricify_cents }}</div>
    </li>
  </ul>

  <div class="mt-10 text-xl font-semibold">
    {{ 'app.orders.checkout.confirm' | t }}
  </div>

  <div class="mt-4 flex justify-between">
    {% include 'theme/simple/dashboard/orders/actions/buyer', order: order, checkout_session: checkout_session %}
  </div>
</section>