<h1 class="mb-6 text-3xl font-medium">
  <a href="/dashboard">{{ 'app.dashboard' | t }}</a>
  / {{ 'app.' | append: role | t }}
  / {{ 'app.orders.list' | t }}
</h1>

{% if orders.total_entries > 0 %}
  <table class="w-full table-auto">
    <thead>
      <tr>
        <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.created_at" | t }}</th>
        <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.item_id" | t }}</th>
        <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.seller" | t }}</th>
        <th class="px-4 py-2 text-lg font-medium text-left"></th>
        <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.buyer" | t }}</th>
        <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.status" | t }}</th>
        <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.total" | t }}</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders.results %}
        <tr>
          <td class="px-4 py-2 border-b">{{ order.created_at | l }}</td>
          <td class="px-4 py-2 border-b"><a href="/items/show?id={{ order.properties.item_id }}">{{ order.item.properties.name }}</a></td>
          <td class="px-4 py-2 border-b">{{ order.properties.seller }}</td>
          <td class="px-1 py-1 border-b">=></td>
          <td class="px-4 py-2 border-b">{{ order.properties.buyer }}</td>
          <td class="px-4 py-2 border-b">
            {{ order.order_status.properties.status | default: 'missing-state-invalid-order' | t }}
            {% if  order.order_status.properties.timestamp %}
            <br/><small>{{ order.order_status.properties.timestamp | to_time | l }}</small>
            {% endif %}
          </td>
          <td class="px-4 py-2 border-b">{{ order.properties.total | pricify }}</td>
          <td class="px-4 py-2 border-b">
            {% include 'theme/simple/dashboard/orders/actions' %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="w-full text-center text-lg font-medium">
    Your orders will appear here.
  </p>
{% endif %}
