{% if orders.total_entries > 0 %}
  <section class="w-full lg:table">

    <header class="hidden lg:table-row font-bold">
      <div class="lg:pl-2 lg:py-4 lg:table-cell">{{ 'app.created_at' | t }}</div>
      <div class="lg:pl-2 lg:py-4 lg:table-cell">{{ 'app.models.orders.form.id' | t }}</div>
      {% if role == 'buyer' %}
        <div class="lg:pl-2 lg:py-4 lg:table-cell">{{ 'app.seller' | t }}</div>
      {% endif %}
      {% if role == 'seller' %}
        <div class="lg:pl-2 lg:py-4 lg:table-cell">{{ 'app.buyer' | t }}</div>
      {% endif %}
      <div class="lg:pl-2 lg:py-4 lg:table-cell">{{ 'app.status' | t }}</div>
      <div class="lg:pl-2 lg:py-4 lg:table-cell lg:text-right">{{ 'app.total' | t }}</div>
      <div class="lg:pl-2 lg:py-4 lg:table-cell"></div>
    </header>

    {% for order in orders.results %}
      {% function order_url = 'link_to', order: order %}
      <div class="lg:table-row pb-5 mb-4 border-b">

        <div class="lg:pl-2 lg:py-4 lg:table-cell lg:border-t">
          <span class="lg:hidden">{{ 'app.created_at' | t }}: </span>
          <a href="{{ order_url }}">
            {{ order.created_at | l }}
          </a>
        </div>

        <div class="lg:pl-2 lg:py-4 lg:table-cell lg:border-t">
          <span class="lg:hidden">{{ 'app.models.orders.form.id' | t }}: </span>
          <a href="{{ order_url }}">
            {{ order.id }}
          </a>
        </div>

        {% if role == 'buyer' %}
          <div class="lg:pl-2 lg:py-4 lg:table-cell lg:border-t">
            <span class="lg:hidden">{{ 'app.seller' | t }}: </span>
            {{ order.seller.name }}
          </div>
        {% endif %}

        {% if role == 'seller' %}
          <div class="lg:pl-2 lg:py-4 lg:table-cell lg:border-t">
            <span class="lg:hidden">{{ 'app.buyer' | t }}: </span>
            {{ order.buyer.name }}
          </div>
        {% endif %}

        <div class="lg:pl-2 lg:py-4 lg:table-cell lg:border-t">
          {% if order.status.timestamp %}
            <span class="lg:hidden">{{ 'app.status' | t }}: </span>
            {{ order.status.fullname | t }}
          {% endif %}
        </div>

        <div class="lg:pl-2 lg:py-4 lg:table-cell lg:border-t lg:text-right">
          <span class="lg:hidden">{{ 'app.total' | t }}: </span>
          {{ order.total_price_cents | default: 0 | pricify_cents }}
        </div>

        <div class="mt-2 lg:mt-0 lg:pl-2 lg:py-4 lg:table-cell lg:border-t lg:text-right">
          <a href="/dashboard/buy/orders_checkout/{{order.id}}" class="button button-sm">
            {{ 'app.checkout' | t }}
          </a>
          {% liquid
            if role == 'seller'
              assign actions = 'theme/simple/dashboard/orders/actions/' | append: role
              include actions, order: order
            endif
          %}
        </div>

      </div>
    {% endfor %}

  </section>

{% else %}

  <p class="w-full text-lg">
    {{ 'app.orders.none' | t }}
  </p>

{% endif %}