{% if orders.total_entries > 0 %}
  <table class="table w-full table-auto">
    <thead>
      <tr>
        <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.created_at" | t }}</th>
        <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.models.orders.form.id" | t }}</th>
        {% if role == 'buyer' %}
          <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.seller" | t }}</th>
        {% endif %}
        {% if role == 'seller' %}
          <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.buyer" | t }}</th>
        {% endif %}
        <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.status" | t }}</th>
        <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.total" | t }}</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders.results %}
        {% function order_url = 'link_to', order: order %}
        <tr>
          <td class="px-4 py-2 text-left border-b">
            <a href="{{ order_url }}">
              {{ order.created_at | l }}
            </a>
          </td>
          <td class="px-4 py-2 text-left border-b">
            <a href="{{ order_url }}">
              {{ order.id }}
            </a>
          </td>
          {% if role == 'buyer' %}
            <td class="px-4 py-2 text-left border-b">{{ order.seller.name }}</td>
          {% endif %}
          {% if role == 'seller' %}
            <td class="px-4 py-2 text-left border-b">{{ order.buyer.name }}</td>
          {% endif %}
          <td class="px-4 py-2 text-left border-b">
            {% if order.status.timestamp %}
              <b>{{ order.status.fullname | t }}</b>
            {% endif %}
          </td>
          <td class="px-4 py-2 text-left border-b">{{ order.total_price_cents | default: 0 | pricify_cents }}</td>
          <td class="px-4 py-2 text-left border-b">
            <a href="/dashboard/buy/orders_checkout/{{order.id}}" class="button button-sm mt-2">Checkout</a>
            {% liquid
              if role == 'seller'
                assign actions = 'theme/simple/dashboard/orders/actions/' | append: role
                include actions, order: order
              endif
            %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="w-full text-lg">
    {{ 'app.orders.none' | t }}
  </p>
{% endif %}
