{% if orders.total_entries > 0 %}
  <table class="table w-full table-auto">
    <thead>
      <tr>
        <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.created_at" | t }}</th>
        <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.item" | t }}</th>
        <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.seller" | t }}</th>
        <th class="px-4 py-2 text-lg font-medium text-left"></th>
        <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.buyer" | t }}</th>
        <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.status" | t }}</th>
        <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.total" | t }}</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders.results %}
        <tr>
          <td class="px-4 py-2 text-left border-b">{{ order.created_at | l }}</td>
          <td class="px-4 py-2 text-left border-b">
            {% function item_url = 'link_to', path: '/items/', item: order.item %}
            <a href="{{ item_url }}">
              {{ order.item.name }}
              <small> {{ order.item.status.name | default: 'app.statuses.items.none' | t }}</small>
            </a>
          </td>
          <td class="px-4 py-2 text-left border-b">{{ order.seller.name }}</td>
          <td class="py-1 text-center border-b">=></td>
          <td class="px-4 py-2 text-left border-b">{{ order.buyer.name }}</td>
          <td class="px-4 py-2 text-left border-b">
            {{ order.status.name | default: 'missing-state-invalid-order' | t }}
            {% if order.status.timestamp %}
            <br/><small>{{ order.status.timestamp | to_time | l }}</small>
            {% endif %}
          </td>
          <td class="px-4 py-2 text-left border-b">{{ order.total | pricify_cents }}</td>
          <td class="px-4 py-2 text-left border-b">
            {% assign actions = 'theme/simple/dashboard/orders/actions/' | append: role  %}
            {% include actions %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="w-full text-lg">
    {{ 'app.orders.none' | t }}
  </p>
{% endif %}
