<h5><a href="/dashboard">{% echo 'app.dashboard' | t %}</a> / {{ 'app.' | append: role | t }} / {% echo 'app.orders' | t %}</h5>

<table class="table-auto">
  <thead>
    <tr>
      <th class="w-1/6 px-4 py-2">{{ "app.created_at" | t }}</th>
      <th class="w-1/6 px-4 py-2">{{ "app.item_id" | t }}</th>
      <th class="w-1/6 px-4 py-2">{{ "app.buyer" | t }}</th>
      <th class="w-1/6 px-4 py-2">{{ "app.seller" | t }}</th>
      <th class="w-1/6 px-4 py-2">{{ "app.status" | t }}</th>
      <th class="w-1/6 px-4 py-2">{{ "app.total" | t }}</th>
      <th class="w-1/6 px-4 py-2">{{ "app.paid_at" | t }}</th>
    </tr>
  </thead>
  {% for order in orders.results %}
    <tr>
      <td>{% echo order.created_at | l %}</td>
      <td><a href="/items/show?id={% echo order.properties.item_id %}">{% print order.item.properties.name %}</a></td>
      <td>{% print order.properties.buyer %}</td>
      <td>{% print order.properties.seller %}</td>
      <td>
        {% echo order.order_status.properties.status | default: 'app.order_statuses.pending_payment' | t %}
      </td>
      <td>{% echo order.properties.total | pricify %}</td>
      <td>
        {% include 'theme/simple/dashboard/orders/actions' %}
      </td>
    </tr>
  {% endfor %}
</table>
