<table class="table w-1/2 max-w-full">
  <thead>
    <tr>
      <th class="w-8 text-left">{{ 'app.users.attr.id' | t }}</th>
      <th class="text-left">{{ 'app.users.attr.email' | t }}</th>
      <th class="text-left">{{ 'app.users.attr.created_at' | t }}</th>
      <th class ="text-left">{{ 'app.users.attr.list' | t }}</th>
    </tr>
  </thead>

  <tbody class="leading-8">
    {% for record in list.results %}
      <tr>
        <td>{{ record.id }}</td>
        <td>{{ record.email }}</td>
        <td>{{ record.created_at | l }}</td>
        <td>
          <a href="/u/{{ record.id }}">
          <button class="mt button button-sm mt-2">
          {{ 'app.items.list' | t }}
          </button>
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>