<table class="table w-full max-w-full">
  <thead>
    <tr>
      <th class="text-left">{{ 'app.users.attr.slug' | t }}</th>
      <th class="text-left">{{ 'app.users.attr.email' | t }}</th>
      <th class="text-left">{{ 'app.users.attr.created_at' | t }}</th>
      <th class ="text-left">{{ 'app.users.attr.followers' | t }}</th>
    </tr>
  </thead>

  <tbody class="leading-8">
    {% for record in list.results %}
      <tr>
        <td>
          <a href="/profile/{% print record.slug %}">{{ record.username }}</a>
          <div class="text-xs">
            slug: {{ record.slug }} id: {{ record.id }} uuid: {{ record.uuid }}
          </div>
        </td>
        <td>{{ record.email }}</td>
        <td>{{ record.created_at | l }}</td>
        <td>{{ record.followed_user_ids | json }}</td>
        <td>
          <a href="/u/{{ record.id }}">
          <button class="mt button button-sm mt-2">
          {{ 'app.items.list' | t }}
          </button>
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
