<table class="table w-full">
  <thead>
    <tr>
      <th class="w-8 text-left">{{ 'app.users.attr.id' | t }}</th>
      <th class="text-left">{{ 'app.users.attr.email' | t }}</th>
      <th class="text-left">{{ 'app.users.attr.created_at' | t }}</th>
    </tr>
  </thead>

  <tbody>
    {% for record in list.results %}
      <tr>
        <td>{{ record.id }}</td>
        <td>{{ record.email }}</td>
        <td>{{ record.created_at | l }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>