<form action="/users" method="post">
  {% include 'authenticity_token' %}

  <label class="block mt-3" for="email">
    <span class="block">{{ 'app.users.form.email' | t }}</span>
    <input name="user[email]" type="email" id="email" value="{{ object.email | raw_escape_string }}" class="w-full form-input" autofocus />
    {% include 'theme/simple/field_error', errors: object.errors.email %}
  </label>

  <label class="block mt-3" for="password">
    <span class="block">{{ 'app.users.form.password' | t }}</span>
    <input name="user[password]" type="password" id="password" value="{{ object.password | raw_escape_string }}" class="w-full form-input" />
    {% include 'theme/simple/field_error', errors: object.errors.password %}
  </label>

  <button class="mt-3 button">{{ 'app.users.form.signup' | t }}</button>
</form>
