<div class="container flex flex-wrap items-center mx-auto">
  <h1 class="bigtitle">{{ 'app.models.posts.edit_answer' | t }} {{ object.name  }}</h1>
</div>

{% liquid
  if object.id
    assign method = 'put'
    assign submit_label = 'app.models.posts.edit'
  endif
%}
<div class="container flex flex-wrap mx-auto groups-center">
  <form action="/dashboard/posts" method="post" class="w-full md:w-2/3">
    {% include 'authenticity_token' %}
    <input type="hidden" name="_method" value="{{method}}" />
    {% if object.id %}
      <input type="hidden" name="post[id]" value="{{ object.id }}" />
    {% endif %}

    <div class="mt-5">
      <label class="block" for="body">{{ 'app.models.posts.form.body' | t }}</label>
      <textarea class="w-2/3 form-input" id="body" name="post[body]" data-markdown-editor>{{ object.body }}</textarea>
      {% include 'theme/simple/field_error', errors: object.errors.body %}
    </div>

    <button class="mt-8 button">{{ submit_label | t }}</button>
  </form>
</div>

{% render 'theme/simple/photos/s3_form', object_uuid: object.uuid, presigned_url: presigned_url, photo_type: 'screenshot' %}
