<div class="container flex flex-wrap mx-auto groups-center">
  <form action="/dashboard/posts/reply" method="post" class="w-full md:w-2/3">
    {% include 'authenticity_token' %}
    <input type="hidden" name="post[parent_id]" value="{{ post.id }}" />
    <input type="hidden" name="return_to" value="{% render 'link_to', post: post %}" />

    {% if object.id %}
      <input type="hidden" name="post[id]" value="{{ object.id }}" />
    {% endif %}

    <div class="mt-5">
      <label class="block" for="body">{{ 'app.models.posts.your_answer' | t }}</label>
      <textarea class="w-2/3 form-input" id="body" name="post[body]" data-markdown-editor>{{ object.body }}</textarea>
      {% render 'theme/simple/field_error', errors: object.errors.body %}
    </div>

    <button class="button">{{ 'app.models.posts.post_answer' | t }}</button>
  </form>
</div>
