<h4>{% echo 'app.dashboard' | t %}</h4>

<div class='dashboard'>
  <div>
    <h5>{{ 'app.selling' | t }}</h5>
    <ul>
      <li><a href="/dashboard/sell/orders">{{ 'app.your-orders' | t }}</a></li>
      <li><a href="/dashboard/sell/items">{{ 'app.your-items' | t }}</a></li>
    </ul>
  </div>
  <div>
    <h5>{{ 'app.buying' | t }}</h5>
    <ul>
      <li><a href="/dashboard/buy/orders">{{ 'app.your-orders' | t }}</a></li>
    </ul>
  </div>
</div>
