<h1 class="text-4xl font-medium text-center">
  contact - {{ contact.id }}
</h1>

<span class="font-medium">
  {{ 'app.models.contacts.form.email' | t }}
</span>
<p class="mb-10">
  {{ contact.email }}
</p>

<span class="font-medium">
  {{ 'app.models.contacts.form.message' | t }}
</span>
<p class="mb-10">
  {{ contact.message }}
</p>

<span class="font-medium">
  {{ 'app.models.contacts.form.reason' | t }}
</span>
<p class="mb-10">
  {{ contact.reason }}
</p>

