<div class="mb-5 bg-panel">
  <nav class="flex flex-col sm:flex-row">
    {% assign active_class = 'text-interaction border-b-2 font-medium border-interaction'  %}
    <a href="/{{path}}/{{ user.slug }}" class="text-content py-4 px-6 block hover:text-interaction focus:outline-none {% if tab == 'activity' %}{{ active_class }}{% endif %}">
      {{ 'app.profiles.nav.activity' | t }}
    </a>
    <a href="/{{path}}/{{ user.slug }}/groups" class="text-content py-4 px-6 block hover:interaction focus:outline-none {% if tab == 'groups' %}{{ active_class }}{% endif %}">
      {{ 'app.profiles.nav.groups' | t }}
    </a>
    <a href="/{{path}}/{{ user.slug }}/following" class="text-content py-4 px-6 block hover:interaction focus:outline-none {% if tab == 'following' %}{{ active_class }}{% endif %}">
      {{ 'app.profiles.nav.following' | t }}
    </a>
    <a href="/{{path}}/{{ user.slug }}/followers" class="text-content py-4 px-6 block hover:interaction focus:outline-none {% if tab == 'followers' %}{{ active_class }}{% endif %}">
      {{ 'app.profiles.nav.followers' | t }}
    </a>
    <a href="/{{path}}/{{user.slug}}/products" class="text-content py-4 px-6 block hover:interaction focus:outline-none {% if tab == 'products' %}{{ active_class }}{% endif %}">
      {{ 'app.profiles.nav.products' | t }}
    </a>
  </nav>
</div>
