<h1 class="text-4xl font-medium text-center">
  category - {{ category.id }}
</h1>

<span class="font-medium">
  {{ 'app.models.categories.form.key' | t }}
</span>
<p class="mb-10">
  {{ category.key }}
</p>

<span class="font-medium">
  {{ 'app.models.categories.form.uuid' | t }}
</span>
<p class="mb-10">
  {{ category.uuid }}
</p>

