  <div class="container h-screen" id="chat-inbox">
      <div class="flex border rounded h-full">
        <div class="w-1/3 flex flex-col">
          <div class="flex-1 overflow-auto">
            {% liquid
              for conversation in conversations.models.results
              if conversation["from_user"]["id"] == current_user.id
                assign from_user_id = conversation["to_user"]["id"]
              else
                assign from_user_id = conversation["from_user"]["id"]
              endif

              function from_user = 'lib/data/queries/profiles/find', id: from_user_id
              assign img_url = from_user.avatar.photo.versions.small
              unless img_url
                assign img_url = 'images/user.svg' | asset_url
			  endunless

              render 'modules/chat/inbox/conversation', img_url: img_url, conversation: conversation, current_conversation: current_conversation, current_user: current_user, from_user: from_user, messages: messages
              endfor
            %}
		  </div>
        </div>

        <div class="w-2/3 border-l flex flex-col">
          <div class="flex-1 overflow-auto" id="chat-messagesList-container">
            <ul class="max-w-full p-3" id="chat-messagesList">
			  {% liquid
				assign messages_desc = messages.models.results | reverse

                for message in messages_desc
                if message["from_user"]["name"] != current_user.name
                  render "modules/chat/inbox/message", message: message, justify: 'justify-start', bg_color: 'bg-gray-300'
                else
                  render "modules/chat/inbox/message", message: message, justify: 'justify-end', bg_color: 'bg-indigo-200'
                endif
                endfor
              %}
			</ul>
		  </div>
          <div class="bg-grey-lighter px-3 py-3">
			{% if current_conversation["from_user"]["id"] != current_user.id %}
			<input placeholder="{{ 'app.chat.message_input_placeholder' | t }}" id="chat-messageInput" data-from-name="{{ current_user.name }}" data-conversation-id="{{ current_conversation.id}}" data-from-id="{{ current_conversation.to_id }}" data-to-id="{{ current_conversation.from_id }}" class="w-full border rounded px-2 py-2" type="text"/>
			{% else %}
			<input placeholder="{{ 'app.chat.message_input_placeholder' | t }}" id="chat-messageInput" data-from-name="{{ current_user.name }}" data-conversation-id="{{ current_conversation.id}}" data-from-id="{{ current_conversation.from_id }}" data-to-id="{{ current_conversation.to_id }}" class="w-full border rounded px-2 py-2" type="text"/>
			{% endif %}
          </div>
        </div>
      </div>
  </div>