  <div class="container h-screen" id="inbox">
      <div class="flex border rounded h-full">
        <div class="w-1/3 flex flex-col">
          <div class="flex-1 overflow-auto">
            {% liquid
              for conversation in conversations.models.results
              if conversation["from_user"]["id"] == current_user.id
                assign from_user_id = conversation["to_user"]["id"]
              else
                assign from_user_id = conversation["from_user"]["id"]
              endif

              function from_user = 'lib/data/queries/profiles/find', id: from_user_id
              assign img_url = from_user.avatar.photo.versions.small
              unless img_url
                assign img_url = 'images/user.svg' | asset_url
			  endunless

              render 'modules/chat/inbox/conversation', img_url: img_url, conversation: conversation, current_conversation: current_conversation, current_user: current_user, from_user: from_user, messages: messages
              endfor
            %}
		  </div>
        </div>

        <div class="w-2/3 border-l flex flex-col">
          <div class="flex-1 overflow-auto" id="main-message-scroll">
            <div class="max-w-full p-3" id="main-message-window">
			  {% liquid
				assign messages_desc = messages.models.results | reverse

                for message in messages_desc
                if message["from_user"]["name"] != current_user.name
                  render "modules/chat/inbox/message", message: message, justify: 'justify-start', bg_color: 'bg-gray-300'
                else
                  render "modules/chat/inbox/message", message: message, justify: 'justify-end', bg_color: 'bg-indigo-200'
                endif
                endfor
              %}
            </div>
		  </div>
          <div class="bg-grey-lighter px-4 py-4 flex items-center">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path opacity=".45" fill="#263238" d="M9.153 11.603c.795 0 1.439-.879 1.439-1.962s-.644-1.962-1.439-1.962-1.439.879-1.439 1.962.644 1.962 1.439 1.962zm-3.204 1.362c-.026-.307-.131 5.218 6.063 5.551 6.066-.25 6.066-5.551 6.066-5.551-6.078 1.416-12.129 0-12.129 0zm11.363 1.108s-.669 1.959-5.051 1.959c-3.505 0-5.388-1.164-5.607-1.959 0 0 5.912 1.055 10.658 0zM11.804 1.011C5.609 1.011.978 6.033.978 12.228s4.826 10.761 11.021 10.761S23.02 18.423 23.02 12.228c.001-6.195-5.021-11.217-11.216-11.217zM12 21.354c-5.273 0-9.381-3.886-9.381-9.159s3.942-9.548 9.215-9.548 9.548 4.275 9.548 9.548c-.001 5.272-4.109 9.159-9.382 9.159zm3.108-9.751c.795 0 1.439-.879 1.439-1.962s-.644-1.962-1.439-1.962-1.439.879-1.439 1.962.644 1.962 1.439 1.962z"></path></svg>
            </div>
            <div class="flex-1 mx-4">
              {% if current_conversation["from_user"]["id"] != current_user.id %}
                <input id="new-chat-message" data-from-name="{{ current_user.name }}" data-conversation-id="{{ current_conversation.id}}" data-from-id="{{ current_conversation.to_id }}" data-to-id="{{ current_conversation.from_id }}" class="w-full border rounded px-2 py-2" type="text"/>
              {% else %}
                <input id="new-chat-message" data-from-name="{{ current_user.name }}" data-conversation-id="{{ current_conversation.id}}" data-from-id="{{ current_conversation.from_id }}" data-to-id="{{ current_conversation.to_id }}" class="w-full border rounded px-2 py-2" type="text"/>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
  </div>