---
slug: inbox
---

{% liquid
  include 'lib/must_be_authenticated'
  function current_user = 'lib/data/queries/profiles/find', user_id: context.current_user.id
  graphql conversations = 'modules/chat/inbox', user_id: current_user.id
  assign current_conversation = conversations.models.results | where: "id", params["active_conversation"] | first | default: conversations.models.results.first

%}

<h1 class="mb-6 text-2xl"> {{ current_user.name }}'s {{ 'app.inbox' | t }} </h1>

{% if current_conversation != blank %}
  <div>
    <div class="w-full h-32" ></div>

    <div class="container mx-auto" style="margin-top: -128px;">
      <div class="py-6 h-screen">
        <div class="flex border border-grey shadow-lg h-full">
          <div class="w-1/3 border flex flex-col">
            <div class="bg-grey-lighter flex-1 overflow-auto">
              {% liquid
                for conversation in conversations.models.results
                graphql messages = 'modules/chat/find_messages', conversation_id: conversation.id
                render 'modules/chat/inbox/conversation', conversation: conversation, messages: messages, current_conversation: current_conversation, current_user: current_user
                endfor
              %}
            </div>
          </div>

          <div class="w-2/3 border flex flex-col">
            <div class="flex-1 overflow-auto" id="main-message-window" >
              <div class="py-2 px-3">
                <div class="flex justify-center mb-2">
                  <div class="rounded py-2 px-4" style="background-color: #DDECF2">
                    <p class="text-sm uppercase">
                      {{ "now" | to_time | localize: 'long'  }}
                    </p>
                  </div>
                </div>
                {% liquid
                  graphql messages = 'modules/chat/find_messages', conversation_id: current_conversation.id
                  for message in messages.models.results
                    if message["from_user"]["name"] != current_user.name
                      render "modules/chat/inbox/message", message: message, justify: 'justify-start', bg_color: 'bg-gray-300'
                    else
                      render "modules/chat/inbox/message", message: message, justify: 'justify-end', bg_color: 'bg-indigo-200'
                    endif
                  endfor
                %}
              </div>

            </div>
            <div class="bg-grey-lighter px-4 py-4 flex items-center">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path opacity=".45" fill="#263238" d="M9.153 11.603c.795 0 1.439-.879 1.439-1.962s-.644-1.962-1.439-1.962-1.439.879-1.439 1.962.644 1.962 1.439 1.962zm-3.204 1.362c-.026-.307-.131 5.218 6.063 5.551 6.066-.25 6.066-5.551 6.066-5.551-6.078 1.416-12.129 0-12.129 0zm11.363 1.108s-.669 1.959-5.051 1.959c-3.505 0-5.388-1.164-5.607-1.959 0 0 5.912 1.055 10.658 0zM11.804 1.011C5.609 1.011.978 6.033.978 12.228s4.826 10.761 11.021 10.761S23.02 18.423 23.02 12.228c.001-6.195-5.021-11.217-11.216-11.217zM12 21.354c-5.273 0-9.381-3.886-9.381-9.159s3.942-9.548 9.215-9.548 9.548 4.275 9.548 9.548c-.001 5.272-4.109 9.159-9.382 9.159zm3.108-9.751c.795 0 1.439-.879 1.439-1.962s-.644-1.962-1.439-1.962-1.439.879-1.439 1.962.644 1.962 1.439 1.962z"></path></svg>
              </div>
              <div class="flex-1 mx-4">
                {% if current_conversation["from_user"]["id"] != current_user.id %}
                  <input id="new-chat-message" data-from-name="{{ current_user.name }}" data-conversation-id="{{ current_conversation.id}}" data-from-id="{{ current_conversation.to_id }}" data-to-id="{{ current_conversation.from_id }}" class="w-full border rounded px-2 py-2" type="text"/>
                {% else %}
                  <input id="new-chat-message" data-from-name="{{ current_user.name }}" data-conversation-id="{{ current_conversation.id}}" data-from-id="{{ current_conversation.from_id }}" data-to-id="{{ current_conversation.to_id }}" class="w-full border rounded px-2 py-2" type="text"/>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% content_for custom_scripts %}
  <script src="{{ 'modules/chat/js/chat.js' | asset_url }}"></script>
{% endcontent_for %}
