{% liquid
  if order.id
    assign path = 'update'
  else
    assign path = 'create'
  endif
%}

<h1 class="mb-8 ml-4 text-3xl font-medium text-gray-900 title-font">
  <a href="/dashboard">{{ 'app.dashboard' | t }}</a>
  / {{ 'app.' | append: role | t }}
  / {{ 'app.orders' | t }}
</h1>

{{ order.errors }}

<table class="w-full table-auto">
  <thead>
    <tr>
      <th class="px-4 py-2">{{ 'app.name' | t }}</th>
      <th class="px-4 py-2">{{ 'app.price' | t }}</th>
      <th class="px-4 py-2">{{ 'app.quantity' | t }}</th>
      <th class="px-4 py-2">{{ 'app.total' | t }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="px-4 py-2 border">{{ item.properties.name }}</td>
      <td class="px-4 py-2 border">{{ item.properties.price | pricify }}</td>
      <td class="px-4 py-2 border">1</td>
      <td class="px-4 py-2 border">{{ order.properties.total | pricify }}</td>
    </tr>
  </tbody>
</table>

<form action="/orders/{{ path }}" method="post">
  {% include 'authenticity_token' %}
  <input type="hidden" name="item_id" value="{{ item.id }}"/>

  <button class="button">{{ 'app.checkout' | t }}</button>
</form>
