<div class="mb-2 w-full md:w-full">
  <h1 class="title">{{ 'app.stripe.header' | t }}</h1>
  <ul class="leading-10 list-decimal list-inside">
    <li>
      {{ 'app.stripe.register' | t }}
    </li>
    <li>
      {{ 'app.stripe.copy_and_add' | t }}
      <a href="https://dashboard.stripe.com/settings/applications" target="_blank" rel="extrnal noopener">{{ 'app.stripe.settings' | t }}</a>
      <br>
      <span class="px-4 py-3 bg-gray-200 rounded-sm select-all">https://{{ context.location.host }}/dashboard/payments/account/success</span>
    </li>
    <li>
      {{ 'app.stripe.public_key' | t }}
    </li>
  </ul>
</div>

<div class="w-full p-6 mt-8 mb-2 bg-gray-200 rounded lg:w-4/6 md:w-3/4">
  <form action="/marketplace_setup" method="post">
    {% include 'authenticity_token' %}
    {% assign keys = 'mpo_fee_percent,stripe_pk_key,stripe_sk_key,stripe_client_id' | split: ',' %}
    {% for key in keys %}
      <label class="block mt-4" for="{{ key }}">
        <span class="block mb-1">{{ 'app.marketplace_setup.' | append: key | t }}</span>
        <input name="constants[{{ key }}]" type="text" id="{{ key }}" value="{{ object[key] }}" class="w-full form-input" />
        {% include 'theme/simple/field_error', errors: object.errors[key] %}
      </label>
    {% endfor %}

    <button class="mt-3 button">{{ 'app.stripe.save' | t }}</button>
  </form>
</div>
</br>

<div class="mb-2 w-full md:w-full">
  <h1 class="title">{{ 'app.chat.setup.title' | t }}</h1>
</div>

<div class="w-full p-5 mt-8 mb-2 bg-gray-200 rounded lg:w-4/6 md:w-3/4">
  <form action="/marketplace_setup/constants/set" method="post">
    {% include 'authenticity_token' %}
    <input type="hidden" name="name" value="chat">
    <fieldset>
    <input type="radio" class="mt-3" name="value" value="true" id="chatOn"{% if chat_enabled %}checked{% endif %}>
    <label class="mt-4" for="chatOn">{{ 'app.chat.setup.enable' | t }}</label>
    </fieldset>
    <fieldset>
    <input type="radio" class="mt-3" name="value" value="false" id="chatOff"{% unless chat_enabled %}checked{% endunless %}>
    <label class=" mt-4" for="chatOff">{{ 'app.chat.setup.disable' | t }}</label>
    </fieldset>
    <input type="submit" value="{{ 'app.stripe.save' | t }}" class="mt-3 button">
  </form>
</div>
</br>

<div class="mb-2 w-full md:w-full">
  <h1 class="text-2xl">{{ 'app.slack.setup.title' | t }}</h1>
</div>

<div class="w-full p-6 mt-8 mb-2 bg-gray-200 rounded lg:w-4/6 md:w-3/4">
  <form action="/marketplace_setup/constants/set" method="post">
    {% include 'authenticity_token' %}
    <input type="hidden" name="name" value="slack"></input>
    <label class="block mt-4" for="slack-alerts"></label>
    <input type="text" id="slack-alerts" name="value" value=""></input>
    <input type="submit" class="ml-3 button button" value="submit" class="mt-3 button"></br>
    <span class="block mb-1"><b>{{ 'app.slack.setup.webhook' | t }}</b></br> {% if context.constants.SLACK_WEBHOOK_URL == blank %}{{ 'app.slack.setup.none' | t }}{% else %}{{ context.constants.SLACK_WEBHOOK_URL }}{% endif %}<span class="block mb-1">
  </form>
</div>
