{% if order.status.name == 'app.order_statuses.placed' %}
  {% if order.properties.paid_at == null %}
    <form action="/order_statuses/create" method="post">
      {% include 'authenticity_token' %}
      <input type="hidden" name="status" value="app.order_statuses.paid"/>
      <input type="hidden" name="order_id" value="{{ order.id }}"/>

      <button class="button button-sm">{{ 'app.mark-as-paid' | t }}</button>
    </form>
  {% endif %}

  {% if order.properties.paid_at == null %}
    <form action="/order_statuses/create" method="post" class="mt-2">
      {% include 'authenticity_token' %}
      <input type="hidden" name="status" value="app.order_statuses.paid"/>
      <input type="hidden" name="order_id" value="{{ order.id }}"/>

      <button class="button button-sm">{{ 'app.pay' | t }}</button>
    </form>

    <a href="/orders/review?order_id={{order.id}}" class="button button-sm mt-2">
      {{ 'app.pay_online' | t }}
    </a>
  {% endif %}

  <form action="/order_statuses/create" method="post" class="mt-2">
    {% include 'authenticity_token' %}
    <input type="hidden" name="status" value="app.order_statuses.canceled"/>
    <input type="hidden" name="order_id" value="{{ order.id }}"/>

    <button class="button button-sm button-secondary">{{ 'app.cancel' | t }}</button>
  </form>
{% endif %}

{% if order.status.name == 'app.order_statuses.paid' %}
  <form action="/order_statuses/create" method="post" class="mt-2">
    {% include 'authenticity_token' %}
    <input type="hidden" name="status" value="app.order_statuses.shipped"/>
    <input type="hidden" name="order_id" value="{{ order.id }}"/>

    <button class="button button-sm button-secondary">{{ 'app.ship' | t }}</button>
  </form>
{% endif %}

