<div class="w-full px-0 mb-8 md:p-4 lg:w-1/3 md:w-1/2 card">
  {% if object.photo %}
  <a class="relative block h-64 overflow-hidden rounded shadow-sm" href="{{ object.url }}">
    <img alt="{{ object.name }}" class="block object-cover object-center w-full h-full" src="{{ object.photo.url.versions.small }}">
  </a>
  {% endif %}

  <div class="mt-4">
    <h2 class="text-lg font-medium text-gray-900 ">
      <a href="{{ item.url }}">{{ item.name }}</a>
    </h2>

    <h3 class="mb-1 text-xs ">
      {% if item.category %}
        <div>
          <a href="/c/{% print item.category %}">
            {% print 'categories.' | append: item.category | t %}
          </a>
        </div>
      {% endif %}
      {% comment %}
        {{ item.tags | join: ", " }}
        {% endcomment %}
    </h3>

    <div class="flex justify-between text-xs">
      {% echo object.body | default: object.description | default: object.bio %}
    </div>
    <div class="flex justify-between">
      <p class="mt-1">
      </p>

      <h3 class="mb-1 text-xs">
        {% render 'theme/simple/business_card', user: actor, current_user: current_user %}
      </h3>
    </div>
  </div>
</div>
