<div class="flex flex-col bg-white rounded shadow">
  {% if object.photo %}
    <a class="block w-full h-64 overflow-hidden rounded-tl rounded-tr" href="{{ object.url }}">
      <img alt="{{ object.name | default: object.id | truncate: 120 }}" class="block object-cover object-center w-full h-full" src="{{ object.photo.url.versions.small }}">
    </a>
  {% elsif target.photo %}
    <a class="block w-full h-64 overflow-hidden rounded-tl rounded-tr" href="{{ target.url }}">
      <img alt="{{ target.name | default: object.id | truncate: 120 }}" class="block object-cover object-center w-full h-full" src="{{ target.photo.url.versions.small }}">
    </a>
  {% endif %}

  <div class="p-4">
    <!-- TODO: If empty, dont show. -->
    <h2 class="text-lg font-medium text-gray-900 ">
      <a href="{% render 'link_to', comment: target %}">{{ item.name }}</a>
    </h2>

    <p class="text-lg font-semibold">{{ object.name }}</p>

    <p class="mt-2 break-all">
      {% echo object.body | default: object.description | default: object.bio %}
    </p>
  </div>

  <div class="flex p-4 mt-auto">
    <h3 class="ml-auto">
      {% render 'theme/simple/business_card', user: actor, current_profile: current_profile %}
    </h3>
  </div>
</div>
