<div class="relative flex items-end mb-8 overflow-hidden text-white bg-cover rounded-md min-h-64 flex-column" style="background-image: url({{ 'images/home-hero.jpg' | asset_url }})">
  <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-50"></div>
  <div class="z-10 w-full p-8 md:p-16">
    <h1 class="text-2xl font-black leading-none uppercase md:text-5xl">{{ 'app.hero.main-sentence' | t }}</h1>

    <p class="text-xl font-semibold">
      {{ 'app.hero.secondary-sentence' | t }}
    </p>

    <p>
      <a href="/search" class="mt-5 mr-3 text-lg button">{{ 'app.hero.shop' | t }}</a>
      <a href="/dashboard/items/new" class="mt-5 text-lg button button-secondary">{{ 'app.hero.sell' | t }}</a>
    </p>
  </div>
</div>
