<div class="flex flex-wrap lg:flex-no-wrap items-end my-6">
  <div class="w-full mb-5 lg:mb-0 flex-0 lg:flex-1 lg:w-auto">
    <label for="k" class="block mb-1 w-full capitalize">{{ 'app.search.keywords' | t }}</label>
    <input class="w-full form-input"
      name="keyword"
      id="keyword"
      type="text"
      value="{{ filters.query.keyword | default: "" | raw_escape_string }}"
     />
  </div>

  <div class="w-full mb-5 md:mb-0 lg:ml-6 md:w-auto">
    <label for="category" class="block mb-1 capitalize">{{ 'app.search.category' | t }}</label>
    <select class="w-full form-select" id="category" name="category">
      <option value="" class="">{{ 'app.search.all_categories' | t }}</option>
      {% for category in filters.categories %}
        {% assign ident = category | split: '/' | size | minus: 1 | times: 2 %}
        <option value="{{ category }}" {% if filters.query.category == category %}selected{% endif %}>
          {% for step in (1..ident) %} {{ "&nbsp;" }} {% endfor %}
          {{ 'categories.' | append: category | t }}
        </option>
      {% endfor %}
    </select>
  </div>

  <div class="w-full mb-5 md:mb-0 md:mx-6 md:w-auto">
    <label for="sort_by" class="block mb-1 capitalize">{{ 'app.search.sort_by' | t }}</label>
    <select class="w-full form-select" id="sort_by" name="sort_by">
      {% assign sort = filters.query.sort_by | default: 'relevance' %}
      {% for s in filters.sort_options %}
        <option value="{{ s[0] }}" {% if sort == s[0] %}selected{% endif %}>{{ s[1] }}</option>
      {% endfor %}
    </select>
  </div>

  <button name="submit" value="search" class="w-full md:w-auto ml-auto button">{{ 'app.search.search' | t }}</button>
</div>

<p class="text-lg text-gray-700">
  {{ 'app.total_entries' | t }} {{ items.total_entries }}
</p>
