<div class="flex flex-wrap my-6">
  <div class="w-full md:flex-1 md:w-auto">
    <label for="k" class="block mb-1  capitalize">{{ 'app.search.keywords' | t  }}</label>
    <input class="w-full form-input"
      name="k"
      id="k"
      type="text"
      value="{{ filters.query.k }}"
     />
  </div>

  <div class="w-full my-6 md:my-0 md:ml-6 md:w-auto">
    <label for="category" class="block mb-1  capitalize">{{ 'app.search.category' | t  }}</label>
    <select class="form-select w-full" id="category" name="category">
      <option value="" class="">{{ 'app.search.all_categories' | t }}</option>
      {% for category in filters.categories %}
        {% assign ident = category | split: '/' | size | minus: 1 | times: 2 %}
        <option value="{{ category }}" {% if filters.query.category == category %}selected{% endif %}>
          {% for step in (1..ident) %} {{ "&nbsp;" }} {% endfor %}
          {{ 'categories.' | append: category | t }}
        </option>
      {% endfor %}
    </select>
  </div>

  <div class="w-full my-6 md:my-0 md:mx-6 md:w-auto">
    <label for="sort" class="block mb-1 capitalize">{{ 'app.search.sort_by' | t }}</label>
    <select class="form-select w-full" id="sort" name="sort">
      <option value="" class="">{% print 'lib.sort_options.relevance' | t %}</option>
      {% for s in filters.sort_options %}
        <option value="{{ s[0] }}" {% if filters.query.sort == s[0] %}selected{% endif %}>{{ s[1] }}</option>
      {% endfor %}
    </select>
  </div>
{% comment %}
  <div class="w-full my-6 md:my-0 md:mx-6 md:w-auto">
    <label for="tag" class="block mb-1  capitalize">{{ 'app.search.tags' | t  }}</label>
    <select class="w-full form-select" id="tag" name="tag">
      <option value="" class="">{{ 'app.search.all_tags' | t  }}</option>
      {% for tag in filters.tags %}
        <option value="{{ tag }}" {% if query.tag == tag %}selected{% endif %}>{{ tag }}</option>
      {% endfor %}
    </select>
  </div>
{% endcomment %}

  <button name="submit" value="search" class="w-full md:mt-auto md:w-auto button">{{ 'app.search.search' | t  }}</button>
</div>
