Total: {{ items.total_entries }}

<table class="table-auto">
  {% for item in items.results %}
    <tr>
      <td>
        <span class="font-semibold">{{ item.name }}</span>
        <br/>
        <span class="text-sm">{{ item.description | split: ' ' | limit: 20 | join: ' ' | append: '...' }}</span>
        <br/>
        <p>
          {% for tag in item.tags %}
            <a href="?query[tag]={{- tag -}}">{{ tag }}</a>
          {% endfor %}
        </p>
      </td>
      <td>
        <form action="/items/edit" method="get">
          <input type="hidden" name="id" value="{{ item.id }}">
          <button>Edit</button>
        </form>
      </td>
      <td>
        <form action="/items/delete" method="post">
          <input type="hidden" name="id" value="{{ item.id }}">
          <button>X</button>
        </form>
      </td>
    </tr>
  {% endfor %}
</table>
